<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MasterConnectionString" providerName="System.Data.SqlClient"
         connectionString="Data Source =. ; Initial Catalog = master; Integrated Security = True"/>
    <add name="DefaultConnectionString" connectionString="Data Source =. ; Initial Catalog = ims_db; Integrated Security = True" 
         providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
</configuration>